

.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  
 
}

.banner-title{
    font-size: 24px;
    font-weight: 500 ;
    color: #0e0e0e7c;
    width: 622px;
    height: 29px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 120px 160px;
    padding: 100px 80px;
    background-color: #C6E4D6;
    width: 1030px;
    border-radius: 24px;
    
    
}
.btn-primary{
    background-color: #006A50;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;   
    border: none;
    padding: 17px 34px;
    border-radius: 8px;
}
.banner-essay{
    font-weight: bold;
    font-size: 56px;
    width: 622px;
    height: 201px;
}
.banner-pic{
    width: 474.03px;
    height: 400px;
}
/* main style */
.vision{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.main-text{
    font-weight: 400;
    font-size: 16px;
    color: #0e0e0eb0;
}
.info{
    font-size: 20px;
    font-weight: bold;
}
.btn-main-one{
    border-radius: 8px;
    background-color: #5490F5;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    padding: 11px 20px;
    border: none;
}
.btn-main-two{
    border-radius: 8px;
    background-color: #09A15C;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    padding: 11px 20px;
    border: none;
}
.btn-main-three{
    border-radius: 8px;
    background-color: #FFC239;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    padding: 11px 20px;
    border: none;
}
.bg-one{
    padding: 32px;
    background-color: #548ff544;
    width: 340px;
    height: 325px;
    border-radius: 16px;
}
.bg-two{
    padding: 32px;
    background-color: #C6E4D6;
    width: 340px;
    height: 325px;
    border-radius: 16px;
}
.bg-three{
    padding: 32px;
    background-color: #F7EBCF;
    width: 340px;
    height: 325px;
    border-radius: 16px;
}
.main-content{
    display: flex;
    justify-content: space-between;
}
.quote{
    background-image: url(../B11A1--assignment-1/assets/quote-bg.png);
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    border-radius: 16px;
}
.main-digital{
    width: 1280px;
    margin: 0 auto;
    
}
/* recent news */
.news-line{
    font-weight: bold;
    font-size: 32px;
    color: #0e0e0ec5;
}
.btn-news{
    border-radius: 8px;
    background-color: #006A50;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    padding: 13px 26px;
    border: none;
}
.news-img{
    width: 402px;
    height: 306px;
    border-radius: 24px;
}
.main-text-two{
    width: 744px;
    height: 290px;
}
.main-two{
    display: flex;
    justify-content: space-between;
    padding: 48px;
}
.main-text-three{
    width: 1280px;
    height: 402px;
}